<h1>Fifteen Minutes of Fame</h1>

<div class="video">
  <div class="video-player"></div>
    <div class="form-group">
      <div class="col-sm-8">
        <input type="text" name="video-id-input" class="video-id-input form-control input-lg" placeholder="Enter a YouTube video id" />
      </div>

      <div class="col-sm-offset-1 col-sm-3">
        <button type="button" class="video-id-btn btn btn-lg btn-primary">Play Video</button>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12">
      <p>(Try using the video id WQyWTivri1g)</p>
    </div>
  </div>
</div>
