<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Now playing:<span class="now-playing-blurb">Tested by Andy</span></div>
    </div>
    <div class="video">
      <div class="video-player"></div>
    </div>
  </div>
</header>

