<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Well hello! It's nice to meet you. Ready to get famous?</div>
    </div>
  </div>
</header>

<section id="video">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="section-heading">1) Give us your YouTube video link.</h2>
      <h3 class="section-subheading text-muted">Plop your YouTube video link or ID here to get started.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <form class="form">
        <div class="input-group input-group-lg" style="display:block;">
          <div class="row">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="YouTubez go herez" id="yt-link" />
            </div>
            <div class="col-sm-2">
              <%= link_to 'Find it!', '#', class: 'btn btn-xl', id: 'yt-link-btn' %>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-md-8">
        <div class="find-it-message" style="display:none;"></div>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="timeslot">
  <div class="row">
    <div class="col-sm-12 text-center">
    <h2 class="section-heading">2) Now use the Timealizer2K™ to select a timeslot.</h2>
    </div>
  </div>
</section>

<section id="confirm">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="section-heading">3) Let's do this! Hit this big button to submit.</h2>
      <div><%= link_to 'SUBMIT', '#', class: 'btn btn-xl' %></div>
    </div>
  </div>
</section>
