@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.video {
  margin: 25px 0;

  .video-player {
    height: 345px;
    width: 560px;
  }
}

.find-it-message.success {
  @extend .alert;
  @extend .alert-success;
}
